<rtg-breadcrumb></rtg-breadcrumb>
<div class="container p-2">
  <div class="mb-2 text-right">
    <a class="btn btn-primary" [routerLink]="getRouterLinkToAdd()">New</a>
  </div>
  <rtg-grid
    searchField="name"
    [searchValue]="search"
    [data]="subtaskModels"
    (searchValueChange)="gridSearchValueChangeHandler($event)"
  >
    <rtg-grid-column
      title="Thumbnail"
      headClassNames="d-none d-sm-table-cell"
      classNames="d-none d-sm-table-cell text-center"
    >
      <ng-template rtgGridCellTemplate let-dataItem="dataItem">
        <img class="image-sm img-thumbnail" [src]="dataItem.thumbnailSafeUrl" />
      </ng-template>
    </rtg-grid-column>
    <rtg-grid-column title="Name" field="name"></rtg-grid-column>
    <rtg-grid-column
      title="Description"
      field="description"
      headClassNames="d-none d-sm-table-cell"
      classNames="d-none d-sm-table-cell"
    ></rtg-grid-column>
    <rtg-grid-column title="Tags" headClassNames="d-none d-sm-table-cell" classNames="d-none d-sm-table-cell">
      <ng-template rtgGridCellTemplate let-dataItem="dataItem">
        <ng-container *ngFor="let tag of dataItem.tags; let i = index">
          {{ tag.name }}<ng-container *ngIf="i !== dataItem.tags.length - 1">,</ng-container>
        </ng-container>
      </ng-template>
    </rtg-grid-column>
    <rtg-grid-column title="Action">
      <ng-template rtgGridCellTemplate let-dataItem="dataItem">
        <div class="btn-group d-flex">
          <a class="btn btn-secondary" [routerLink]="getRouterLinkToEdit(dataItem)">Edit</a>
          <button class="btn btn-warning" (click)="removeButtonClickHandler(dataItem)">Remove</button>
        </div>
      </ng-template>
    </rtg-grid-column>
  </rtg-grid>
</div>
