<rtg-breadcrumb></rtg-breadcrumb>
<div class="container p-2">
  <div class="row">
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartPersons"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartTasks"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartSubtasks"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartTags"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
  </div>
</div>
