<rtg-breadcrumb></rtg-breadcrumb>
<div class="container p-2">
  <div>
    <div class="form-group">
      <label for="subtaskTitle">Title</label>
      <input id="subtaskTitle" class="form-control" />
    </div>
    <div class="form-group">
      <label for="subtaskDescription">Description</label>
      <textarea id="subtaskDescription" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="subtaskThumbnail">Thumbnail</label>
      <rtg-image-uploader></rtg-image-uploader>
    </div>
    <div class="form-group">
      <label for="subtaskLowProbabilityScore">Low Probability Score</label>
      <input id="subtaskLowProbabilityScore" class="form-control" type="number" min="1" />
    </div>
    <div class="form-group">
      <label for="subtaskAverageProbabilityScore">Average Probability Score</label>
      <input id="subtaskAverageProbabilityScore" class="form-control" type="number" min="1" />
    </div>
    <div class="form-group">
      <label for="subtaskHighProbabilityScore">High Probability Score</label>
      <input id="subtaskHighProbabilityScore" class="form-control" type="number" min="1" />
    </div>
    <div class="form-group">
      <label>Tags</label>
      <rtg-tags-selector [dataItems]="tags"></rtg-tags-selector>
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary">Save</button>
  </div>
</div>
