<rtg-breadcrumb></rtg-breadcrumb>
<div class="container p-2">
  <div>
    <div class="form-group">
      <label for="personName">Name</label>
      <input id="personName" class="form-control" />
    </div>
    <div class="form-group">
      <label for="personDescription">Description</label>
      <textarea id="personDescription" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="personThumbnail">Thumbnail</label>
      <input id="personThumbnail" class="form-control-file" type="file" />
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary">Save</button>
  </div>
</div>
