.iterations {
  .iteration {
    &:last-child {
      margin-bottom: 0;
    }
    margin-bottom: 10px;
  }
}

.tasks {
  .task {
    &:last-child {
      margin-bottom: 0;
    }
    margin-bottom: 10px;
  }
}
