<rtg-breadcrumb></rtg-breadcrumb>
<div class="container p-2">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="formSubmitHandler()">
    <div class="form-group">
      <label for="personName">Name</label>
      <input
        id="personName"
        class="form-control"
        formControlName="name"
        [class.is-valid]="formName.valid"
        [class.is-invalid]="formName.touched && formName.invalid"
      />
      <div class="invalid-feedback" *ngIf="formName.hasError('required')">
        Please specify a name.
      </div>
      <div class="invalid-feedback" *ngIf="formName.hasError('nameExists')">
        Please specify another name. The name '{{ formName.value }}' is already in use.
      </div>
    </div>
    <div class="form-group">
      <label for="personDescription">Description</label>
      <textarea id="personDescription" class="form-control" rows="3" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label for="personThumbnail">Thumbnail</label>
      <rtg-image-uploader
        formControlName="thumbnail"
        [valid]="formThumbnail.valid"
        [invalid]="formThumbnail.touched && formThumbnail.invalid"
      ></rtg-image-uploader>
      <div class="invalid-feedback" *ngIf="formThumbnail.hasError('required')">
        Please upload thumbnail.
      </div>
    </div>
    <div class="form-group">
      <label>Start Date</label>
      <input
        id="personStartDate"
        class="form-control dp-date-picker-control"
        formControlName="startDate"
        theme="dp-material"
        [class.is-valid]="formStartDate.valid"
        [class.is-invalid]="formStartDate.touched && formStartDate.invalid"
        [dpDayPicker]="datePickerCfg"
      />
      <div class="invalid-feedback" *ngIf="formStartDate.hasError('required')">
        Please specify a start date.
      </div>
    </div>
    <h3 class="font-weight-normal">Iterations</h3>
    <div class="iterations container-fluid" formArrayName="iterations">
      <div
        class="iteration row p-2 border border-secondary rounded"
        *ngFor="let iteration of formIterations.controls; let iterationIndex = index"
      >
        <ng-container [formGroupName]="iterationIndex">
          <div class="form-group col-12 col-md-8">
            <label>Iteration Name</label>
            <input class="form-control" formControlName="name" />
          </div>
          <div class="form-group col-12 col-md-4">
            <label>Duration</label>
            <input class="form-control" type="number" min="1" formControlName="duration" />
          </div>
          <div class="col-12">
            <div class="tasks container-fluid" formArrayName="tasks">
              <div
                class="task row p-2 border border-info rounded"
                *ngFor="let task of getTaskControls(iteration); let taskIndex = index"
              >
                <ng-container [formGroupName]="taskIndex">
                  <div class="form-group col-12 col-md-8">
                    <label>Task</label>
                    <select class="form-control form-control-sm" formControlName="id">
                      <option *ngFor="let taskForDropdown of tasksForDropdown" [value]="taskForDropdown.value">
                        {{ taskForDropdown.label }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label>Probability</label>
                    <input
                      class="form-control form-control-sm"
                      type="number"
                      min="0"
                      max="100"
                      formControlName="probability"
                    />
                  </div>
                  <div class="col-12 p-3">
                    <div class="tags d-flex flex-wrap" formArrayName="tags">
                      <div class="tag mr-4 mb-2" *ngFor="let tag of getTagControls(task); let tagIndex = index">
                        <ng-container [formGroupName]="tagIndex">
                          <input type="hidden" formControlName="id" />
                          <div class="d-flex">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" formControlName="selected" />
                              <label class="form-check-label">{{ tag.controls.name?.value }}</label>
                            </div>
                            <div class="form-group ml-2">
                              <select class="form-control form-control-sm" formControlName="probability">
                                <option
                                  *ngFor="let probabilityItem of probabilityRangeItems"
                                  [value]="probabilityItem.value"
                                >
                                  {{ probabilityItem.label }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-info mt-2" type="button" (click)="addTaskButtonClickHandler(iteration)">
              Add Task
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="d-flex mt-2">
      <button class="btn btn-secondary" type="button" (click)="addIterationButtonClickHandler()">Add Iteration</button>
      <button class="btn btn-primary ml-auto" type="submit">Save</button>
    </div>
  </form>
</div>
