@import '../../../../styles/bootstrap/bootstrap-required.scss';

.tags-selector {
  &.is-valid,
  &.is-invalid {
    padding-right: 0.75rem;
    background-image: none;
  }
  &-top {
    position: relative;
  }
  &-suggestions {
    max-height: 100px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    overflow-y: auto;
  }
  &-suggestion {
    &:hover {
      background-color: $table-hover-bg;
    }
    &:last-child {
      border: none;
    }
    border-bottom: 1px solid $secondary;
    cursor: pointer;
  }
  &-button-remove {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
  }
  height: auto;
}
