<div class="tags-selector form-control">
  <div class="tags-selector-top" (rtgClickOutside)="controlTopClickOutsideHandler()">
    <input
      class="tags-selector-textbox form-control form-control-sm"
      [(ngModel)]="textboxValue"
      (ngModelChange)="textboxChangeHandler($event)"
      (focus)="textboxFocusHandler()"
    />
    <div class="tags-selector-suggestions border" *ngIf="suggestedDataItems && suggestedDataItems.length">
      <div
        class="tags-selector-suggestion"
        *ngFor="let item of suggestedDataItems"
        (click)="suggestionClickHandler(item)"
      >
        {{ item }}
      </div>
    </div>
  </div>
  <div class="tags-selector-result d-flex flex-wrap py-2">
    <div
      class="tags-selector-result-item p-1 mr-2 mb-2 border border-secondary rounded"
      *ngFor="let item of selectedDataItems"
    >
      <span class="tags-selector-result-label">{{ item }}</span>
      <span class="tags-selector-button-remove" (click)="buttonRemoveClickHandler(item)">X</span>
    </div>
  </div>
</div>
