.tags-selector {
  &-top {
    position: relative;
  }
  &-suggestions {
    max-height: 100px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    overflow-y: auto;
  }
  &-suggestion {
    cursor: pointer;
  }
  &-result {
    &-item {
    }
    &-label {
    }
  }
  &-button-remove {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
  }
  height: auto;
}
