<div class="tags-selector form-control" [class.focus]="controlFocus">
  <div class="tags-selector-top">
    <input class="tags-selector-textbox form-control form-control-sm" />
    <div class="tags-selector-suggestions border">
      <div class="tags-selector-suggestion">Tag XXX</div>
    </div>
  </div>
  <div class="tags-selector-result d-flex flex-wrap py-2">
    <div class="tags-selector-result-item p-1 mr-2 mb-2 border border-secondary rounded">
      <span class="tags-selector-result-label">Tag 1</span>
      <span class="tags-selector-button-remove">X</span>
    </div>
  </div>
</div>
