@import './bootstrap/bootstrap.scss';

@import './variables';
@import './functions';
@import './mixins';

.image {
  &-sm {
    max-height: 64px;
  }
}

.form-control.dp-date-picker-control {
  &[readonly] {
    background-color: white;
  }
  & ~ dp-date-picker.dp-material {
    position: absolute !important;
  }
}
