<rtg-breadcrumb></rtg-breadcrumb>
<div class="container mb-3 p-2" *ngIf="taskModel">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="mb-1">{{ taskModel.name }}</h3>
      <div class="d-sm-none">
        <img class="img-fluid img-thumbnail" [src]="taskModel.thumbnailSafeUrl" />
      </div>
      <p class="my-2 text-justify">{{ taskModel.description }}</p>
    </div>
    <div class="d-none d-sm-block col-sm-6">
      <img class="img-fluid img-thumbnail" [src]="taskModel.thumbnailSafeUrl" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-end mt-3 border-bottom">
        <h5>Subtasks</h5>
        <button class="btn btn-info ml-auto mb-2" [disabled]="subtasksLeft === 0" (click)="getBtnClickHandler()">
          Get <span class="badge badge-light">{{ subtasksLeft }}</span>
        </button>
      </div>
      <div class="subtasks" *ngIf="subtaskModels && subtaskModels.length > 0; else noSubtasks">
        <div class="subtask" *ngFor="let model of subtaskModels">
          <img class="subtask-img" [src]="model.thumbnailSafeUrl" />
          <h6 class="subtask-title">{{ model.name }}</h6>
        </div>
      </div>
      <ng-template #noSubtasks>
        <p class="my-2 text-center">No subtasks generated yet.</p>
      </ng-template>
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row mt-0 pt-4 border-top">
    <button class="btn btn-secondary" [disabled]="!prevBtnEnabled" (click)="prevBtnClickHandler()">Prev</button>
    <button class="btn btn-secondary my-2 ml-sm-1 my-sm-0" [disabled]="!nextBtnEnabled" (click)="nextBtnClickHandler()">
      Next
    </button>
    <button class="btn btn-primary ml-sm-auto" [disabled]="!finishBtnEnabled" (click)="finishButtonClickHandler()">
      Finish
    </button>
  </div>
</div>
