@import '../../../../styles/bootstrap/bootstrap-required.scss';

.subtasks {
  .subtask {
    &-img {
      max-height: 32px;
    }
    &-title {
      margin-left: 15px;
    }
    display: flex;
    margin: 5px;
    align-items: center;
  }
  display: flex;
  padding: 5px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

@include media-breakpoint-up(sm) {
  .subtasks {
    .subtask {
      &-img {
        max-height: 48px;
      }
    }
  }
}
