<div class="modal d-block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm your action</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="closeHandler()">No</button>
        <button class="btn btn-warning" type="button" (click)="confirmHandler()">Yes</button>
      </div>
    </div>
  </div>
</div>
