<rtg-breadcrumb></rtg-breadcrumb>
<div class="container p-2">
  <div class="mb-2 text-right">
    <a class="btn btn-primary" [routerLink]="getRouterLinkToAdd()">New</a>
  </div>
  <rtg-grid
    searchField="name"
    [data]="tags"
    [searchValue]="search"
    [page]="page"
    [itemsPerPage]="10"
    (searchValueChange)="gridSearchValueChangeHandler($event)"
    (pageChange)="gridPageChangeHandler($event)"
  >
    <rtg-grid-column title="Name" field="name"></rtg-grid-column>
    <rtg-grid-column
      title="Description"
      field="description"
      headClassNames="d-none d-sm-table-cell"
      classNames="d-none d-sm-table-cell"
    ></rtg-grid-column>
    <rtg-grid-column title="Action">
      <ng-template rtgGridCellTemplate let-dataItem="dataItem">
        <div class="btn-group d-flex">
          <a class="btn btn-secondary" [routerLink]="getRouterLinkToEdit(dataItem)">Edit</a>
          <button class="btn btn-warning" (click)="removeButtonClickHandler(dataItem)">Remove</button>
        </div>
      </ng-template>
    </rtg-grid-column>
  </rtg-grid>
</div>
