<rtg-breadcrumb></rtg-breadcrumb>
<div class="container mb-3 pt-0 pb-2 px-2">
  <div class="media p-1">
    <img class="media-img" src="/assets/img/thumbnail.png" />
    <div class="media-body ml-1">
      <h5 class="my-0">Task 1</h5>
      <div class="media p-1 completed">
        <img class="media-img" src="/assets/img/thumbnail.png" />
        <div class="media-body ml-1">
          <h5 class="my-0">Subtask 1</h5>
        </div>
      </div>
      <div class="media p-1 skipped">
        <img class="media-img" src="/assets/img/thumbnail.png" />
        <div class="media-body ml-1">
          <h5 class="my-0">Subtask 2</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="media p-1">
    <img class="media-img" src="/assets/img/thumbnail.png" />
    <div class="media-body ml-1">
      <h5 class="my-0">Task 2</h5>
      <div class="media p-1 border">
        <img class="media-img" src="/assets/img/thumbnail.png" />
        <div class="media-body ml-1">
          <h5 class="my-0">Subtask 3</h5>
        </div>
      </div>
      <div class="media p-1">
        <img class="media-img" src="/assets/img/thumbnail.png" />
        <div class="media-body ml-1">
          <h5 class="my-0">Subtask 4</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row mt-sm-2 border-sm">
    <button class="btn btn-secondary">Info</button>
    <button class="btn btn-secondary my-2 ml-sm-1 my-sm-0">Skip</button>
    <button class="btn btn-info mb-2 ml-sm-auto my-sm-0">Complete</button>
    <button class="btn btn-primary ml-sm-1">Finish</button>
  </div>
</div>
