.media {
  &.skipped {
    .media-img {
      opacity: 0.3;
    }
  }
  &.completed {
    .media-img {
      opacity: 0.3;
    }
    .media-body {
      text-decoration: line-through;
    }
  }
  &-img {
    max-height: 32px;
    align-self: flex-start;
  }
  margin-top: 10px;
}
