@import '../../../../styles/bootstrap/bootstrap-required.scss';

.media {
  &.subtask {
    cursor: pointer;
  }
  &.failed {
    .media-body {
      text-decoration: line-through;
    }
    opacity: 0.3;
    color: $danger;
  }
  &.skipped {
    opacity: 0.3;
  }
  &.completed {
    .media-body {
      text-decoration: line-through;
    }
    opacity: 0.3;
  }
  &.selected {
    border: 1px solid $primary;
  }
  &-img {
    max-width: 32px;
    align-self: flex-start;
  }
  margin-top: 10px;
}

@include media-breakpoint-up(md) {
  .media {
    &-img {
      max-width: 64px;
    }
  }
}
