<div class="jumbotron">
  <div class="container">
    <h2 class="display-3 text-center">Welcome to RTG</h2>
    <p>
      This application is intended to generate random tasks depending on some specified conditions. You can create your
      own tasks and store them on your device. You also can track the progress on them and view statistics. Please, find
      more details below.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartGame"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartManagement"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
    <!-- <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartStatistics"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartImportAndExport"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div>
    <div class="col-md-4">
      <h3><rtg-link [item]="linkForPartAbout"></rtg-link></h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui.
      </p>
    </div> -->
  </div>
</div>
