<rtg-breadcrumb></rtg-breadcrumb>
<div class="container mb-3 p-2">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="mb-1">Task 1</h3>
      <p class="mt-0 text-muted">Dec 9</p>
      <div class="d-sm-none">
        <img class="img-fluid img-thumbnail" src="/assets/img/thumbnail.png" />
      </div>
      <p class="mt-2 text-justify">
        This task is about going on the beach and have some fun there.
      </p>
    </div>
    <div class="d-none d-sm-block col-sm-6">
      <img class="img-fluid img-thumbnail" src="/assets/img/thumbnail.png" />
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row mt-sm-2 border-sm">
    <button class="btn btn-secondary">Prev</button>
    <button class="btn btn-secondary my-2 ml-sm-1 my-sm-0">Next</button>
    <button class="btn btn-info mb-2 ml-sm-auto my-sm-0">Get <span class="badge badge-light">4</span></button>
    <!-- <button class="btn btn-info mb-2 ml-sm-auto my-sm-0">OK</button> -->
    <button class="btn btn-primary ml-sm-1">Finish</button>
  </div>
</div>
